<launch>
   <remap from="cmd_vel" to="/rr_robot/cmd_vel_controller/cmd_vel"/>
   <remap from="odom" to="rr_robot/odom"/>
    <master auto="start"/>
  <!-- Run the map server --> 
     <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/> -->
 
  <!--- Run AMCL --> 
     <!-- <include file="$(find amcl)/examples/amcl_omni.launch" /> -->
 
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
     <rosparam file="$(find rr_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
     <rosparam file="$(find rr_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
     <rosparam file="$(find rr_2dnav)/config/local_costmap_params.yaml" command="load" />
     <rosparam file="$(find rr_2dnav)/config/global_costmap_params.yaml" command="load" /> 
     <rosparam file="$(find rr_2dnav)/config/base_local_planner_params.yaml" command="load" />

     <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
     <param name="controller_frequency" value="10.0" />
  </node>
 
 </launch> 