<launch>

    <!-- Our laser is a plugin so we dont launch any laser node-->
    <!-- <node pkg="laser_publisher" type="laser_publisher" name="laser_node" output="screen">
     <param name="sensor_param" value="param_value" />
  </node> -->

  <!-- <include file="$(find odom_publisher)/launch/odom_publisher.launch"/> -->

 </launch> 